<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">F8 education</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Các mục menu bên trái nếu có -->
      </ul>

      <!-- Dropdown sang phải -->
    
        <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://fullstack.edu.vn/assets/f8-icon-lV2rGpF0.png" class="user-avatar" style="width: 28px;height: 28px;border-radius: 50%;" alt="">
          Nguyễn Mạnh Cường
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/courses/create">Đăng kí khóa học</a></li>
          <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
     
    </div>
  </div>
</nav>
